version: "3.8"

services:
  
 nats:
    image: nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port
    volumes:
      - nats-data:/data
      - ./nats/nats.conf:/etc/nats/nats.conf
    command: -js -sd /data -m 8222 # Enable JetStream, set storage, enable monitoring port
 nats-exporter:
    image: natsio/prometheus-nats-exporter:latest
    command: "-varz http://10.0.0.115:8222"
    ports:
     - "7777:7777" 
 prometheus:
    image: prom/prometheus:latest
    hostname: prometheus
    volumes:
      - "./nats/prometheus.yml:/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
 grafana:
    image: grafana/grafana
    hostname: grafana
    ports:
      - "3000:3000"   
volumes:
  nats-data:
networks:
 sender-back:
     driver: bridge

